h2 {
    letter-spacing: 0.1cm;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
}
p {
  letter-spacing: 0.1cm;
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
  text-align: center;
}
body{
    background-image: url(background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.header {
    padding: 15px;
    text-align: center;
    background-color: crimson;
    font-size: 20psx;
  }
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  button {
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
  }
i {
    color: white;
    width: 1cm;
  }
#poo {
    position: absolute;
    letter-spacing: 0.1cm;
    font-family: 'Roboto Condensed', sans-serif;
    color: crimson;
    font-size: 0.5cm;
    margin-left: 10%;
    max-width: 20%;
  }
#sql {
    position: absolute;  
    letter-spacing: 0.1cm;
    font-family: 'Roboto Condensed', sans-serif;
    color: crimson;
    font-size: 0.5cm;
    margin-left: 37%;
    max-width: 20%;
}
#html {
    position: absolute;  
    letter-spacing: 0.1cm;
    font-family: 'Roboto Condensed', sans-serif;
    color: crimson;
    font-size: 0.5cm;
    margin-left: 67%;
    margin-right: 10%;
    max-width: 20%;
}
#imagen1 {
    margin-left: 10%;
    max-width: 20%;
    margin-top: 1.5cm;
    cursor: pointer;   
    border: 0; 
}
#imagen2 {
  margin-left: 10%;
  max-width: 20%;
  margin-top: 1.5cm;
  cursor: pointer;
  border: 0;
}
#imagen3 {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 20%;
  margin-top: 1.5cm;
  cursor: pointer;
  border: 0;
}
.imagenes {
  height: 4cm;
  width: 7cm;
}
#poo_button {
  color:crimson;
  background-color: transparent;
  font-size: 25px;
  margin-top: 0.5cm;
  margin-left: 33%;
  max-width: 50%;
  border: 0;
  text-align: center;
}
.titulosEjercicios {  
  letter-spacing: 0.1cm;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 0.5cm;
  text-align: center;
  cursor: context-menu;
}
.titulo_codigo {
  text-align: center;
  color: coral;
  text-decoration: none;
}
#ejercicios {
  margin-top: 0.5cm;
  display: none;
  overflow-y: auto;
  height: 400px;
  width: 90%; 
}
#ejercicio1 {
  display: none;
}
#ejercicio2 {
  display: none;
}
#ejercicio3 {
  display: none;
}
