h2 {
    letter-spacing: 0.1cm;
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
}
p {
  letter-spacing: 0.1cm;
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
  text-align: center;
}
body{
    background-image: url(background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.header {
    padding: 15px;
    text-align: center;
    background-color: crimson;
    font-size: 20psx;
  }
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  button {
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
  }
i {
    color: white;
    width: 1cm;
  }
#poo {
    position: absolute;
    letter-spacing: 0.1cm;
    font-family: 'Roboto Condensed', sans-serif;
    color: crimson;
    font-size: 0.5cm;
    margin-left: 3.5cm;
    max-width: 7cm;
  }
#sql {
    position: absolute;  
    letter-spacing: 0.1cm;
    font-family: 'Roboto Condensed', sans-serif;
    color: crimson;
    font-size: 0.5cm;
    margin-left: 16cm;
    max-width: 9cm;
}
#html {
    position: absolute;  
    letter-spacing: 0.1cm;
    font-family: 'Roboto Condensed', sans-serif;
    color: crimson;
    font-size: 0.5cm;
    margin-left: 30cm;
    max-width: 9cm;
}
#imagen1 {
    margin-left: 10%;
    max-width: 20%;
    margin-top: 1.5cm;
    cursor: pointer;    
}
#imagen2 {
  margin-left: 10%;
  max-width: 20%;
  margin-top: 1.5cm;
  cursor: pointer;
}
#imagen3 {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 20%;
  margin-top: 1.5cm;
  cursor: pointer;
}
.imagenes {
  height: 4.8cm;
  width: 8cm;
}
#poo_button {
  color:lawngreen;
  background-color:black;
  font-size: 25px;
  margin-top: 0.5cm;
  margin-left: 13cm;
}
.titulosEjercicios {  
  letter-spacing: 0.1cm;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 0.5cm;
  text-align: center;
}
.titulo_codigo {
  text-align: center;
}
